@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Pacifico&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
}

/* .container {
    position: relative;
    text-align: center;
    padding-top: 40px;
  }
  
  .banner-image {
    display: block;
    margin: 0 auto;
    padding: 0 110px;
    border-radius: 16px;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
  }
  
  .text h1 {
    font-size: 36px;
    margin-bottom: 10px;
    width: 632px;
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
  }
  
  .text h3 {
    font-size: 24px;
    margin-top: 0;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
  } */

.banner-first {
  width: 100%;
  /* max-width: 1030px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-banner {
  /* width: 1030px; */
  position: relative;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

.text-banner {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 60px 130px; */

  flex-direction: column;
  /* opacity: 100; */
}
.banner-first .image-banner .text-banner h1 {
  color: white;
  /* font-size: 55px; */
  color: #fff;
  width: 550px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

.banner-first .image-banner .text-banner h3 {
  color: white;
  /* color: rgba(255, 255, 255, 0.80); */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  width: 550px;
}
.text h1 {
  font-size: 64px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.join-now {
  color: #fff;
  background: transparent;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 48px;
}

/* main section  */



.new-year-3d {
  max-width: 625px;
  width: 100%;
  /* flex-shrink: 0; */
}

.content-heading {
  margin-top: 120px;
  margin-bottom: 48px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.holiday-deals {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.all-cate {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  align-content: center;
}

.wrapper {
  width: 100%;
  /* max-width: 1030px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .image {
  /* width: 1030px; */
  position: relative;
}

.wrapper .image img {
  width: 100%;
  display: block;
  margin: auto;
}

.wrapper .image .content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /* background: rgba(0, 0, 0, 0.6); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 0px 130px; */

  /* flex-direction: column; */
  /* opacity: 100; */
}
.wrapper .image .content h1 {
  color: white;
  /* font-size: 55px; */
}

.content p {
  color: white;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.text {
  width: 550px;
}
.text h1 {
  font-size: 64px;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.join-now {
  color: #fff;
  background: transparent;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 48px;
}

.cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events{
  /* position: absolute; */
  height: 90vh;
  width: 87%;
  border-radius: 10px;
  /* background-color: red; */
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
 
  

}

.event-date{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
/* margin-left: 30%; */
}

.event-date span{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
}

.event-join{
  display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
border: none;
color: #FFF;
margin-top: 48px;
}

/* new best offer */

.comming-soon-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px;
}

.new-best-offer{
  width: 350px;
}

.offer-title{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.offer-comming{
  margin-top: 15px;
  color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.offer-paragraph, .third-text-container p{
  margin-top: 15px;
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
width: 300px;
}

.red-ring{
  padding: 30px;
            display: flex;
            width: 370px;
            height: 370px;
            border: 15px solid red;
            border-radius: 50%;
}

.red-ring img{

}

.third-text-container h3{
  color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.third-text-container img{
  width: 140px;
  margin-left: 0px;
}

.holiday-sale{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0px 140px;
}

.what-is-functional{
  color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.holiday-50{
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.red{
  color: #F00;
}

.holiday-sale p{
  width: 90%;
  
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
}

.product-text-container{
  padding: 110px;
}



.text-description{
  width: 850px;
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.product-text-container h2{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.product-text-container p{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}



